<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Develop\Weather\Api\Data\WeatherStatusInterface"
                type="Develop\Weather\Model\WeatherStatus" />

    <preference for="Develop\Weather\Api\WeatherStatusRepositoryInterface"
                type="Develop\Weather\Model\WeatherStatusRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="weather_log_grid_data_source"
                      xsi:type="string">Develop\Weather\Model\ResourceModel\WeatherLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
